---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
---

{
  (
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
            <h2 set:html={markdownify("Upcoming Events")} class="mb-4" />
          </div>
          <div class="col-12">
            <div class="swiper testimonial-slider">
              <div class="swiper-wrapper" />
              <div class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center" />
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  new Swiper(".testimonial-slider", {
    modules: [Pagination],
    spaceBetween: 24,
    loop: false,
    loopedSlides: 2,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: true,
    },
    pagination: {
      el: ".testimonial-slider-pagination",
      type: "bullets",
      clickable: true,
    },
    breakpoints: {
      768: {
        slidesPerView: 2,
      },
      992: {
        slidesPerView: 3,
      },
    },
  });
</script>

<script src="https://apis.google.com/js/api.js"></script>

<script>
  async function loadCalendar() {
    gapi.client
      .init({
        apiKey: "AIzaSyDpSfdE112z9hmXWBUWqv8C1FA4rWPVHso",
        // apiKey: "",
        discoveryDocs: [
          "https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest",
        ],
      })
      .then(function () {
        return gapi.client.calendar.events.list({
          calendarId:
            "hkn.ece.utexas.edu_39353038313833342d383839@resource.calendar.google.com",
          timeMin: new Date().toISOString(),
          timeMax: new Date(Date.now() + 2 * 12096e5).toISOString(),
          showDeleted: false,
          singleEvents: true,
          orderBy: "startTime",
        });
      })
      .then(function (response) {
        var events = response.result.items;

        if (events.length > 0) {
          for (let i = 0; i < events.length; i++) {
            const event = events[i];
            if (event.description === "Outside Event") {
              continue;
            }
            const image_url = event.attachments
              ? event.attachments[0].fileUrl.replace("open?", "uc?export=view&")
              : "/images/generic-event.png";
            const start = new Date(event.start.dateTime || event.start.date);
            const end = new Date(event.end.dateTime || event.end.date);
            const date_options: Intl.DateTimeFormatOptions = {
              weekday: "short",
              year: "numeric",
              month: "short",
              day: "numeric",
              hour: "numeric",
              minute: "numeric",
            };
            var dateString = "";
            if (start.toDateString() === end.toDateString()) {
              dateString =
                start.toLocaleString([], date_options) +
                " - " +
                end.toLocaleTimeString([], {
                  hour: "numeric",
                  minute: "numeric",
                });
            } else {
              dateString =
                start.toLocaleString([], date_options) +
                " - " +
                "<br />" +
                end.toLocaleString([], date_options);
            }
            const location = event.location ? event.location : "Location TBD";
            // Add event to swiper-wrapper div
            const swiperWrapper = document.querySelector(".swiper-wrapper");
            const swiperSlide = document.createElement("div");
            swiperSlide.classList.add("swiper-slide");
            swiperSlide.innerHTML = `
            <div class="rounded-lg bg-theme-light px-7 py-10 dark:bg-darkmode-theme-light">
              <div class="text-dark dark:text-white items-center" style="position:relative;">
                <img
                  className="mx-auto mb-6"
                  src="${image_url}"
                  alt="${event.summary}"
                  style="position:relative; margin:auto; left:0; right:0; top:0; bottom:0;"
                />
              </div>
              <div class="mt-11 flex items-center">
                <div class="ml-4">
                  <h3 class="h5 font-primary font-semibold">
                    ${event.summary}
                  <h3/>
                  <p class="h6 font-secondary">
                    ${dateString}
                  </p>
                  <p class="h6 font-secondary">
                    ${location}
                  </p>
                </div>
              </div>
            </div>
          `;
            swiperWrapper!.appendChild(swiperSlide);
          }
        } else {
          const swiperWrapper = document.querySelector(".swiper-wrapper");
          const swiperSlide = document.createElement("div");
          swiperSlide.classList.add("swiper-slide");
          swiperSlide.innerHTML = `
              <div class="rounded-lg bg-theme-light px-7 py-10 dark:bg-darkmode-theme-light">
                <div class="text-dark dark:text-white items-center" style="position:relative;">
                  <img
                    className="mx-auto mb-6"
                    src="/images/no-search-found.png"
                    alt="no-search-found"
                    style="position:relative; margin:auto; left:0; right:0; top:0; bottom:0;"
                  />
                </div>
                <div class="mt-11 flex items-center">
                  <div class="ml-4">
                    <h3 class="h5 font-primary font-semibold">
                      No upcoming events
                    <h3/>
                  </div>
                </div>
              </div>
          `;
          swiperWrapper!.appendChild(swiperSlide);
        }
      })
      .catch(() => {
        const swiperWrapper = document.querySelector(".swiper-wrapper");
        const swiperSlide = document.createElement("div");
        swiperSlide.classList.add("swiper-slide");
        swiperSlide.innerHTML = `
              <div class="rounded-lg bg-theme-light px-7 py-10 dark:bg-darkmode-theme-light">
                <div class="text-dark dark:text-white items-center" style="position:relative;">
                  <img
                    className="mx-auto mb-6"
                    src="/images/no-search-found.png"
                    alt="no-search-found"
                    style="position:relative; margin:auto; left:0; right:0; top:0; bottom:0;"
                  />
                </div>
                <div class="mt-11 flex items-center">
                  <div class="ml-4">
                    <h3 class="h5 font-primary font-semibold">
                      No upcoming events
                    <h3/>
                  </div>
                </div>
              </div>
          `;
        swiperWrapper!.appendChild(swiperSlide);
      });
  }

  while (!window.gapi) {
    await new Promise((resolve) => setTimeout(resolve, 10));
  }

  gapi.load("client", loadCalendar);
</script>
