<!-- begin announcement -->

<h3>{{ title }}</h3>

{{{ content }}}

<p class="author">Posted on {{ date }} by <strong>{{ author }}</strong>, <em>{{ position }}, {{ semester }}</em></p>

<!-- end announcement -->
