<!-- begin announcement -->

<h3>{{ title }}</h3>

{{{ content }}}

<p class="author">Posted by <strong>{{ author }}</strong>, {{ position }}, {{ semester }}, on {{ date }}</p>

<!-- end announcement -->
